#connector-land-header {
  color: #fff;
  text-align: center;
}

#ILPLogo {
  height: 50px;
  width: auto;
}

#connector-land-sider {
  overflow: auto;
  background: #fff;
}

#connector-land-content {
  padding: 20px;
}

#connector-land-title {
  padding: 10px;
  font-size: 20px;
}
