#vish-header {
  color: #fff;
  text-align: center;
}

#ILPLogo {
  height: 50px;
  width: auto;
}

#vish-sider {
  overflow: auto;
  background: #fff;
  height: 100vh;
}

#vish-content {
  padding: 20px;
}

#vish-title {
  padding: 10px;
  font-size: 20px;
}
